.*.swp
*.pyc
*.aux
*.bbl
*.dvi
*.blg
*.log
*.out
*.pdf
*.gz
codez/midas_cu/bin/*
codez/cad/*
codez/midas_cu/src/examples/*
*.metadata
*.classpath
*.project*
*.settings*
testdata/*
.~lock.*
*Inkscape.app*
outline.svg
mask.svg
*.DS_Store
paper/*.fdb_latexmk
